form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.inputName {
  font-size: 15px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: white;
  border-radius: 9px;
  outline: 0;
  width: 306px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 2px #eff1f4;
}

.submit {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  background-color: #313131;
  color: white;
  outline: 0;
  font-size: 15px;
  width: 103px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
