h1 {
	display: flex;
	justify-content: center;
	color: coral;
	margin-top: 0;
	font-family: cursive;
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: coral;
}

.submit {
	display: flex;
	justify-content: center;
}

body {
	background-color: cadetblue;
}