.navbar-brand {
	font-size: 24px;
}

h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descripcion{
    display: block;
    width: 100%;
    height: calc(7em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: initial;
}

#currentTab {
	text-decoration: none;
	border-bottom: 1px solid gray;
}

#buttonsRow {
	display: flex;
	justify-content: space-between;
	padding: 0 15px 0 15px;
	margin-top: 25px;
}

#goBackButton {
	color: white;
}
